body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.3;
}

/* Header Styles */
.nav {
  width: 100%;
  background: white;
  position: relative;
  z-index: 1;
}
.header-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
.nav-items {
  display: flex;
  list-style: none;
}
.nav-items > li {
  padding: 1rem;
  margin: 0 1rem;
}
.img-hero {
  width: 900px;
  float: right;
  margin-right: -138px;
  margin-top: -173px;
  height: 100%;
}
.nav-items > li > a {
  color: gray;
  font-size: 18px;
}
.nav-items > li:hover {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  border-image-slice: 1;
}
.header-button {
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(
    0.25turn,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
/* Section 1 */
.hero-container {
  background-color: hsl(0, 0%, 98%);
  height: 550px;
}
.hero-section {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -550px;
}
.hero-content {
  text-align: left;
  margin: 0px;
}
.hero-content > h1 {
  font-size: 65px;
  font-weight: 400;
}
.hero-content > p {
  font-size: 20px;
  color: gray;
  line-height: 1.3;
}

.hero-image {
  width: 100%;
}
/* section 2 */
.easy-bank {
  background-color: hsl(220, 16%, 96%);
}
.easy-bank-container {
  width: 85%;
  margin: auto;
  padding: 4rem 0px;
}
.why-easy-bank {
  width: 45%;
}
.why-easy-bank > h1 {
  font-size: 35px;
  font-weight: 400;
}
.why-easy-bank > p {
  font-size: 18px;
  color: gray;
  line-height: 1.3;
}
.easy-bank-card-container {
  display: flex;
  gap: 5rem;
  margin: 4rem 0;
}
.latest-container {
  background-color: hsl(0, 0%, 98%);
}
.article-card-container {
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
}
.latest-article-image {
  height: 200px;
}
.latest-article-image > img {
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
}
.latest-article {
  background-color: white;
  border-bottom: 3px;
}
.latest-article-content {
  padding: 1rem;
}
.latest-article-content > small {
  color: gray;
}
.latest-article-content > p {
  color: gray;
}
.footer-container {
  background-color: hsl(233, 26%, 24%);
}
.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
  margin: 1rem 0;
}
.footer-icons > img {
  width: 100%;
  background-color: white;
}
.social-icon {
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.footer-links-container {
  width: 30%;
}
.social-icon > img {
  width: 18px;
}
.fotter-child-container {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer-links {
  display: flex;

  justify-content: space-evenly;
  color: white;
}
.footer-links-p > p:hover {
  color: teal;
}
.footer-button {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-button > button {
  width: 80%;
}
.footer-button > small {
  letter-spacing: 1px;
  color: grey;
}
